h1 {
    text-align: center;
}

.scores {
    display: flex;
    justify-content: space-around;
}

.round-results {
    text-align: center;
    margin: 20px;
}

.game-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#rock, #paper, #scissors {
    width: 120px;
    height: 120px;
    font-size: 20px;
}

.new-game {
    display: flex;
    justify-content: center;
}

#new-game {
    width: 200px;
    height: 100px;
    margin: 20px;
    font-size: 20px;
}